body {
  /* background: linear-gradient(to left, rgb(138, 52, 52), rgb(97, 97, 199)); */
  background-color: #FDFDFD;
  color: blue;
  font-family: sans-serif;
  background-position: center;
  background-size: cover;
}

table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding: 6px;
  color: black;
}

th {
  background-color: lightgrey;
}

table {
  border-radius: 8px;
  overflow: hidden;
}