body {
  /* background: linear-gradient(to left, rgb(138, 52, 52), rgb(97, 97, 199)); */
  background-color: #FDFDFD;
  color: blue;
  font-family: sans-serif;
  background-position: center;
  background-size: cover;
}

table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding: 6px;
  color: black;
}

th {
  background-color: lightgrey;
}

table {
  border-radius: 8px;
  overflow: hidden;
}

.toolbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.left-control {
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}

.right-control {
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
}

.right-control, .left-control, .setting-btn {
  font-size: 14px;
  padding: 6px 24px;
  outline: none;
  font-weight: bold;
  min-width: 110px;
}

.setting-btn {
  border-radius: 24px;
}

.input-group {
  display: inline;
}

.input-group button {
  font-size: 14px;
  padding: 6px 24px;
  padding-right: 12px;
  outline: none;
  font-weight: bold;
  border-radius: 24px 0px 0px 24px;
  border-right: none;
}

.input-group input {
  font-size: 14px;
  padding: 6px;
  outline: none;
  font-weight: bold;
  border-radius: 0px 24px 24px 0px;
  max-width: 62px;
}