body {
  background: linear-gradient(to left, rgb(138, 52, 52), rgb(97, 97, 199));
}

.wheel-wrapper {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#reset, #spin {
  background: none;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 5px;
  z-index: 3;
  margin-top: 12px;
}

#spin:hover {
  color: rgb(0, 180, 120);
  border-color: rgb(0, 180, 120);
}

#spin:focus,
#reset:focus {
  outline: none;
}

#reset:hover {
  color: red;
  border-color: red;
}

#selector {
  position: relative;
  top: -28px;
  font-size: 40px;
  z-index: 3;
  color: rgb(0, 180, 120);
}

#result {
  font-size: 50px;
  color: rgb(0, 180, 120);
}