.wheel-wrapper {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 24px;
}

#spin {
  color: green;
  background: lightgreen;
  border: 1px solid green;
  font-size: 20px;
  border-radius: 36px;
  z-index: 3;
  margin-top: 12px;
  position: relative;
  top: -52px;
  height: 72px;
  width: 72px;
}

#spin:hover {
  color: lightgreen;
  background-color: green;
}

#spin:focus {
  outline: none;
}

#spin:disabled {
  color: lightgreen;
  background-color: green;
}

#selector {
  position: relative;
  top: -28px;
  font-size: 40px;
  z-index: 3;
  color: lightgreen;
}

#result {
  font-size: 50px;
  color: lightgreen;
  position: relative;
  top: -32px;
}